
body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  margin: auto;
  height: 28.8rem;
  width: 35rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.6rem 0.6rem;
}

.container-content {
  display: flex;
}

.image {
  width: 17.5rem;
  height: 28.8rem;
  object-fit: cover;
  border-radius: 0.6rem 0 0 0.6rem;
}

.container-information {
  flex-wrap: wrap;
  margin-left: 1.8rem;
  padding-right: 1.8rem;
}

.perfume {
  font-family: Montserrat, Arial;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  color: hsl(228, 12%, 48%);
  margin: 1.6rem 0 1.3rem 0;
}

.title {
  font-family: Fraunces, Arial;
  font-weight: 700;
  font-size: 1.9rem;
  color: hsl(212, 21%, 14%);
  margin-bottom: 1.3rem;
}

.description {
  font-size: 0.9rem;
  font-family: Montserrat, Arial;
  color: hsl(228, 12%, 48%);
  line-height: 1.4rem;
  margin-bottom: 1.3rem;
}

.price {
  display: flex;
  align-items: center;
}

.new-price {
  font-family: Fraunces, Arial;
  font-size: 1.9rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  margin: 0 1.3rem 1.3rem 0;
}

.old-price {
  font-family: Monsterrat, Arial;
  font-size: 0.9rem;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  margin: -1.3rem 0 0 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  padding: 0.9rem 0.9rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.cart-image {
  margin-right: 0.6rem;
}

.add-to-cart {
  font-family: Montserrat, Arial;
  font-size: 0.9rem;
  color: hsl(0, 0%, 100%);
}

.button:hover {
  background-color: hsla(156, 32%, 37%, 0.854);
}

.button:active {
  background-color: hsl(155, 78%, 25%);
}

.attribution {
  position: absolute;
  bottom: 3.1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: hsl(228, 12%, 48%);
}

@media (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 1.5rem;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem 0 0 0.6rem;
  }

  .container-information {
    margin-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .button {
    justify-content: center;
    padding: 0.9rem 0.9rem;
  }
}